@{
    ViewBag.Title = "Freeride Sobre";
}
<h2>Sobre</h2>


@{
    ViewBag.Message = "A nossa história";
}
<h3>@ViewBag.Message</h3>

<br />
@{ 
    ViewBag.Message = "A Freeride está implementada desde 2017. Se procura material de MTB este é a loja que procura!";
}
<h5>@ViewBag.Message</h5>

<p>Use this area to provide additional information.</p>
