@{
    ViewBag.Title = "Freeride Sobre";
}
<h2>Sobre</h2>


@{
    ViewBag.Message = "A nossa história";
}
<h3>@ViewBag.Message</h3>

<br />
@{ 
    ViewBag.Message = "A Freeride está implementada desde 2017. Se procura material de MTB este é a loja que procura!";
}
<h5>@ViewBag.Message</h5>

<p>
    <b>
        User:admin@admin.pt <br />
        Password:Admin123qwe.<br /><br />


        User:editor@editor.pt <br />
        Password:Admin123qwe. <br />
    </b>
    <br />
    Renato Antunes aluno nº:17422

    <br />
    <br />

    GitHub: https://github.com/rffantunes/FreerideMTB_Store
</p>

