@{
    ViewBag.Title = "Freeride Contactos";
}

@{ 
    ViewBag.Message = "Contactos";
}

<h2>@ViewBag.Message</h2>

<address>
    Instituto Politécnico de Tomar<br />
    Quinta do Contador<br />
    <abbr title="Telefone">Telefone:</abbr>
    236374659
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:rffantunes@hotmail.com">rffantunes@hotmail.com</a><br />
</address>