@model FreerideMTB_Store.Models.tbl_Sub_Categoria

@{
    ViewBag.Title = "Freeride Apagar SubCategoria";
}

<h2>Apagar SubCategoria</h2>

<h3 style="color:#F00">Tem a certeza que pretende eliminar este produto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            SubCategoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Categoria.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
