@model FreerideMTB_Store.Models.tbl_Sub_Categoria

@{
    ViewBag.Title = "SubCategorias";
}

<h2>SubCategorias</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            SubCategoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Categoria.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_sub_cat }) |
    @Html.ActionLink("Voltar", "Index")
</p>
